container_commands:
    00_replace_ssh_by_ssm:
        command: "aws s3 cp s3://serch405/platform-hook-scripts/replace-ssh-by-ssm.sh /tmp/replace-ssh-by-ssm.sh && chmod +x /tmp/replace-ssh-by-ssm.sh && /tmp/replace-ssh-by-ssm.sh"
    01_download_config:
        command: "aws s3 cp s3://serch405/configs/flask-app/config.ini /var/app/staging/config.ini"
    02_create_virtual_environment:
        command: "python3 -m venv /var/app/venv"
    03_activate_virtual_environment:
        command: "source /var/app/venv/bin/activate"
    04_open_project_directory:
        command: "cd /var/app/staging"
    05_install_dependencies:
        command: "pip install -r requirements.txt"
    06_restart_nginx:
        command: "service nginx restart"
    07_migrate_database:
        command: "flask --app=main db init && flask --app=main db migrate && flask --app=main db upgrade"
    08_run_flask_application:
        command: "gunicorn main:app -b 0.0.0.0:8080"
