container_commands:
    01_download_config:
        command: "aws s3 cp s3://eu-west-3.amazonaws.com/configs/flask-app/config.ini /var/app/current/config.ini"
    02_create_virtual_environment:
        python3 -m venv /var/app/venv
    03_activate_virtual_environment:
        source /var/app/venv/bin/activate
    04_install_dependencies:
        command: "pip install -r /var/app/current/requirements.txt"
    05_restart_nginx:
        command: "service nginx restart"
    06_initialize_database:
        command: "flask db init --app=main"
    07_migrate_database:
        command: "flask db migrate --app=main"
    08_update_database:
        command: "flask db upgrade --app=main"
    09_run_flask_application:
        command: gunicorn main:app -b 0.0.0.0:8080
