<!doctype html>
<head>
    <title>Login page</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <div style="color: red">
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </p>
        </div>
        <form action="{{ url_for('login') }}" method="post">
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" required><br><br>
            <button type="submit">Login</button>
        </form>
        <br>
        <a href="{{ url_for('home') }}">Back to Home page</a>
    </div>
</body>
</html>