<!doctype html>
<head>
    <title>Register page</title>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <div style="color: red">
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </p>
        </div>
        <form action="{{ url_for('register') }}" method="post">
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" required><br><br>
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" required><br><br>
            <label for="password"><b>Password</b></label>
            <input type="password" name="password" required><br><br>
            <label for="repass"><b>Repeate the password</b></label>
            <input type="password" name="repass" required><br><br>
            <button type="submit">Register</button>
        </form>
        <br>
        <a href="{{ url_for('home') }}">Back to Home page</a>
    </div>
</body>
</html>