<!doctype html>
<head>
    <title>Verification page</title>
</head>
<body>
    <div class="container">
        <h1>Verify</h1>
        <div style="color: red">
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </p>
        </div>
        <form action="{{ url_for('verify') }}" method="post">
            <label for="password"><b>Enter your password</b></label>
            <input type="password" placeholder="" name="password" required>
            <br>
            <br>
            <label for="code"><b>Enter a verification code from your email</b></label>
            <input type="code" placeholder="" name="code" required>
            <br>
            <br>
            <button type="submit">Verify</button>
        </form>
        <br>
        <a href="{{ url_for('home') }}">Back to Home page</a>
    </div>
</body>
</html>